element.style {
}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
}
body {
    font-family: Arial;
    margin: 0;
}

element.style {

}
* {
    box-sizing: border-box;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}
body {
    font-family: Arial;
    margin: 0;
}

.sample-image {
    padding-left: 10px;
    min-height:100px;
    width: 50px;
}